name: Xiaomi Pad 6s Pro postmarketOS
on:
  push: # Build when push
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 5' # Start build every friday

jobs:
  build-image:
    strategy:
      matrix:
        version: ["default"]

    runs-on: ubuntu-latest
    steps:
      - name: Check out build configurations
        uses: actions/checkout@v4

      - name: Set current date variable
        run: echo "CURRENT_DATE=$(date +%Y-%m-%d)" >> $GITHUB_ENV
        
      - name: Create artifact directory
        run: |
            mkdir out
        
      - name: Substitute placeholders in configs
        run: |
           find . -type f -name "*.cfg" -exec sed -i "s|HOME|$(echo $HOME)|;s|NPROC|$(nproc)|" {} +

      - name: Install pmbootstrap from git
        run: |
          git clone --depth=1 https://gitlab.postmarketos.org/postmarketOS/pmbootstrap.git
          mkdir -p ~/.local/bin
          ln -s "$PWD/pmbootstrap/pmbootstrap.py" ~/.local/bin/pmbootstrap
          pmbootstrap --version


      - name: Set up pmaports
        run: |
          echo -e '\n\n' | pmbootstrap init || true
          cd ~/.local/var/pmbootstrap/cache_git/pmaports
          git remote
          git remote add sheng https://gitlab.postmarketos.org/alghiffaryfa19/pmaports.git 
          git fetch sheng
          git reset --hard sheng


      # - name: Install zstd in chroot
      #   run: |
      #     pmbootstrap chroot -- apk add zstd

      - name: Build the xiaomi-sheng base
        run: |
           cp xiaomi-sheng.cfg ~/.config/pmbootstrap_v3.cfg
           pmbootstrap checksum device-xiaomi-sheng
           pmbootstrap checksum firmware-xiaomi-sheng
           pmbootstrap checksum linux-postmarketos-qcom-sm8550
           cat ~/.local/var/pmbootstrap/cache_git/pmaports/device/testing/linux-postmarketos-qcom-sm8550/APKBUILD
           pmbootstrap chroot -- apk add zstd
           pmbootstrap build --force --arch aarch64 linux-postmarketos-qcom-sm8550

      - name: Show log
        if: always()
        run: |
          cat /home/runner/.local/var/pmbootstrap/log.txt

      - name: Breakpoint if tests failed
        if: failure()
        uses: namespacelabs/breakpoint-action@v0
        with:
          duration: 30m
          authorized-users: alghiffaryfa19
                       
      - name: Copy xiaomi-sheng kernel
        run: |
           cp ~/.local/var/pmbootstrap/packages/edge/aarch64/linux-postmarketos-qcom-sm8550-*.apk out/
      
      - name: Upload artifacts xiaomi-sheng kernel
        uses: actions/upload-artifact@v4
        with:
           name: xiaomi-sheng-kernel_${{ env.CURRENT_DATE }}
           path: out/*.apk
           retention-days: 7



        

        
